body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

/* h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
} */

ul{
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
}

a{
    text-decoration: none;
    color: rgba(46, 47, 66, 1);
}

button{
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* general classes */

.link-aktive:hover,
.link-aktive:focus{
    color: rgba(64, 75, 191, 1);
}

.akcent-logo{
    color: rgba(77, 90, 229, 1);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Header */

.header {}

.header-logo {}

.header-nav {}

.header-nav-list {}

.header-nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgba(46, 47, 66, 1);
}

.header-address {
    font-style: normal;
}

.header-address-list {}

.header-address-item {}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Hero */

.hero {
    background-color: #2e2f42;
}

.hero-tittle {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: rgba(77, 90, 229, 1);
    color: rgba(255, 255, 255, 1);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

/* Our Features */

.features {}

.features-title {}

.features-list {}

.features-item {
    
}

.features-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.features-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* Team */

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-list {}

.team-item {
    background-color: #fff;
}

.team-item-img {}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Portfolio */

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */

.footer{
    background-color: rgba(46, 47, 66, 1);
}

.footer-logo{
    color: #F4F4FD;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}